flow Node-RED.json
[{"id":"65f330c2.c7006","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c49c8ca6.4b2f4","type":"mqtt out","z":"65f330c2.c7006","name":"","topic":"load1","qos":"1","retain":"","broker":"3069fc6.21de804","x":650,"y":300,"wires":[]},{"id":"a036fde5.303f9","type":"ui_button","z":"65f330c2.c7006","name":"","group":"4f3e989c.f9d578","order":1,"width":"6","height":"1","passthru":false,"label":"Up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"load1","x":350,"y":260,"wires":[["c49c8ca6.4b2f4"]]},{"id":"5eea7a5b.91aaf4","type":"ui_button","z":"65f330c2.c7006","name":"","group":"4f3e989c.f9d578","order":2,"width":"2","height":"1","passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"load1","x":350,"y":300,"wires":[["c49c8ca6.4b2f4"]]},{"id":"7ae33de8.413794","type":"ui_button","z":"65f330c2.c7006","name":"","group":"4f3e989c.f9d578","order":4,"width":"2","height":"1","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"load1","x":350,"y":340,"wires":[["c49c8ca6.4b2f4"]]},{"id":"7274ed8.e6b5e14","type":"ui_gauge","z":"65f330c2.c7006","name":"","group":"4f3e989c.f9d578","order":5,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":100,"wires":[]},{"id":"666df7c9.bd1c58","type":"mqtt in","z":"65f330c2.c7006","name":"Temperature","topic":"sensor/temperature","qos":"0","datatype":"auto","broker":"3069fc6.21de804","x":290,"y":120,"wires":[["7274ed8.e6b5e14","9dd26789.d3aa98"]]},{"id":"b850c1b0.f2c04","type":"mqtt in","z":"65f330c2.c7006","name":"","topic":"sensor/humidity","qos":"2","datatype":"auto","broker":"3069fc6.21de804","x":310,"y":63,"wires":[["20311463.bcdd7c"]]},{"id":"20311463.bcdd7c","type":"ui_gauge","z":"65f330c2.c7006","name":"","group":"4f3e989c.f9d578","order":7,"width":"3","height":"3","gtype":"gage","title":"Humidité","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":60,"wires":[]},{"id":"36fc8929.026016","type":"ui_template","z":"65f330c2.c7006","group":"4f3e989c.f9d578","name":"","order":7,"width":"6","height":"5","format":"<iframe style=\"width:356px; height:270px;\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\"\nsrc=\"http://196.234.9.52:1883/video\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":200,"y":200,"wires":[[]]},{"id":"d7d70e7c.8f33b","type":"ui_button","z":"65f330c2.c7006","name":"","group":"4f3e989c.f9d578","order":3,"width":"2","height":"1","passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"load1","x":350,"y":380,"wires":[["c49c8ca6.4b2f4"]]},{"id":"b70e85a7.927e78","type":"ui_button","z":"65f330c2.c7006","name":"","group":"4f3e989c.f9d578","order":1,"width":"0","height":"0","passthru":false,"label":"Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"load1","x":350,"y":420,"wires":[["c49c8ca6.4b2f4"]]},{"id":"856cac28.7201","type":"mqtt in","z":"65f330c2.c7006","name":"","topic":"sensor/distance","qos":"2","datatype":"auto","broker":"3069fc6.21de804","x":350,"y":20,"wires":[["5e4bd1bd.b7b7e"]]},{"id":"5e4bd1bd.b7b7e","type":"ui_gauge","z":"65f330c2.c7006","name":"","group":"4f3e989c.f9d578","order":8,"width":0,"height":0,"gtype":"wave","title":"Distance","label":"cm","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":20,"wires":[]},{"id":"9dd26789.d3aa98","type":"function","z":"65f330c2.c7006","name":"","func":"if (msg.payload>35){\n    msg.payload=\"Temperature too High\"\n    return [msg,null]; \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":160,"wires":[["9d558825.42e6d8"]]},{"id":"9d558825.42e6d8","type":"pushbullet","z":"65f330c2.c7006","config":"268121f1.2d39be","pushtype":"note","title":"Alert","chan":"","name":"","x":750,"y":160,"wires":[]},{"id":"358ec551.7e361a","type":"web-push","z":"65f330c2.c7006","name":"","vapidConfiguration":"","x":310,"y":600,"wires":[[]]},{"id":"5fa1e8b5.b0c408","type":"pac-read","z":"65f330c2.c7006","device":"","dataType":"device-info","tagName":"","tableStartIndex":null,"tableLength":null,"value":"","valueType":"msg.payload","topic":"","topicType":"none","name":"","x":90,"y":320,"wires":[[]]},{"id":"3069fc6.21de804","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.252","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4f3e989c.f9d578","type":"ui_group","z":"","name":"Haythem-Achraf","tab":"3b8758f6.d50fb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"268121f1.2d39be","type":"pushbullet-config","z":"","name":"kkk"},{"id":"3b8758f6.d50fb8","type":"ui_tab","z":"","name":"PFE","icon":"dashboard","order":1,"disabled":false,"hidden":false}]